<div class="page">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
      <mat-card-subtitle>Already registered? <a routerLink="/">Signup here</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <!-- Username -->
        <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
        <!-- Password -->
        <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
        <!-- Confirm Password -->
        <app-input inputType="password" label="Confirm Password"
          [control]="authForm.get('passwordConfirmation')"></app-input>

        <!-- Signup Button -->
        <button mat-raised-button color="primary" type="submit">Register
        </button>
        <div *ngIf="
            authForm.get('password')?.touched && 
            authForm.get('passwordConfirmation')?.touched && 
            authForm.errors">
          <mat-error *ngIf="authForm?.errors?.['passwordsDontMatch']">
            Passwords don't match
          </mat-error>
          <mat-error *ngIf="authForm?.errors?.['noConnection']">
            No Internet Connection
          </mat-error>
          <mat-error *ngIf="authForm?.errors?.['unknownError']">
            Failed to Signup
          </mat-error>
        </div>
      </div>
    </form>
  </mat-card-content>
  </mat-card>
</div>