<div class="page">
    <mat-card class="signup-form-container-card">
      <form [formGroup]="authForm">
        Already registered? <a routerLink="/signin">Sign-in here</a>
        <div class="container">
          <!-- Username -->
          <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
          <!-- Password -->
          <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
          <!-- Confirm Password -->
          <app-input inputType="password" label="Confirm Password" [control]="authForm.get('passwordConfirmation')"></app-input>
          
          <!-- Signup Button -->
          <button mat-raised-button color="primary" type="submit">Register
          </button>

          {{ authForm.errors | json}}
        </div>
      </form>
    </mat-card>
  </div>