<mat-toolbar color="primary">
    <a routerLink="/">
        Email Client
    </a>
    <span class="fill-remaining-space"></span>
    <div *ngIf="signedin$ | async">
        <button  mat-button color="primary"><a routerLink="/inbox">Inbox</a></button>
        <button  mat-button color="primary"><a routerLink="/signout">SignOut</a></button>
    </div>
    <div *ngIf="!(signedin$ | async)">
        <button  mat-button color="primary"><a routerLink="/" routerLinkActiveOptions="{exact: true}">SignIn</a></button>
        <button  mat-button color="primary"><a routerLink="/signup">SignUp</a></button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>