<mat-toolbar color="primary">
    <a routerLink="/">
        Email Client
    </a>
    <span class="fill-remaining-space"></span>
    <div *ngIf="signedin">
        <button mat-button><a routerLink="/inbox">Inbox</a></button>
        <button mat-button><a routerLink="/signout">SignOut</a></button>
    </div>
    <div *ngIf="!signedin">
        <button mat-button><a routerLink="/">SignIn</a></button>
        <button mat-button><a routerLink="/signup">SignUp</a></button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>